doctype html
html(lang="en")
  head
    title=title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
  body
    .container
        h1=title
        form.form(action="/tasks", method="POST")
            .form-group
                input.form-control(type="text", name="name", required)
                button.btn.btn-primary(type="submit") Create task
        p You have #{ tasks.length } tasks created
        ul.list-group
            each task in tasks
                li.list-group-item
                    button.btn.btn-success(title="Mark as completed")
                        i.glyphicon.glyphicon-ok
                    | #{task.name}
                    em= task.createdDate  
                    
                    button.btn.btn-danger.pull-right(title="Delete")
                        i.glyphicon.glyphicon-trash